{{template "base" .}}

{{define "title"}}Cart{{end}}

{{define "main"}}
<style>
   .product-container {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
   }

   .card {
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
       width: calc(33.33% - 20px);
       margin-bottom: 20px;
   }

   .card img {
       width: 50%;
       max-width: 50%; /* Ensure the image doesn't exceed its natural size */
       height: auto; /* Maintain the image's aspect ratio */
   }
</style>
<h1>My choosed items in cart</h1>
<div class="product-container">
    {{if .Items}}
        {{range .Items}}
            <div class="card">
                <img src="{{.ImgUrl}}" style="width:100%">
                <a href="/items/{{.Id}}">ID: {{.Id}}</a>
                <h1>Name:{{.Name}}</h1>
                <p class="price">Price:{{.Price}}</p>
                <p>type:{{.TypeItem}},quantity:{{.Quantity}}</p>
                <form action="/cart/delete" method='POST'>
                    <input type="hidden" id="ItemId" name="ItemId" value="{{.Id}}">
                    <input type="submit" value="Delete from cart">
                </form>
            </div>
        {{end}}

        <form action="/cart/buy" method="GET">
            <input type="submit" value="Buy">
        </form>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
</div>
{{end}}
