{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    <form action="/create" method='POST'>
    <div>
     <label for="iname">Item name </label>
     <input type="text" id="iname" name="iname">
     </div>
     <div>
      <label for="titem">Item type </label>
          <input type="text" id="titem" name="titem">
      </div>
      <div>
 <label for="price">Price </label>
     <input type="text" id="price" name="price">
     </div>
     <div>
 <label for="img">Img url </label>
     <input type="text" id="img" name="img">
     </div>
     <div>
 <label for="qu">Quantity </label>
     <input type="text" id="qu" name="qu">
     </div>
     <div>
     <input type="submit" value="Submit">
     <div>
    </form>
{{end}}