<!DOCTYPE html>
<html>
<head>
</head>

<body>
 <div>

            <p>ID: {{.Id}}</p>
            <p>Name: {{.Name}}</p>
            <p>Type: {{.TypeItem}}</p>
            <p>Price: {{.Price}}</p>
            <img src="{{.ImgUrl}}" alt="Description">
            <p>Quantity: {{.Quantity}}</p>
        </div>



</body>
</html>