{{template "base" .}}

{{define "title"}}Items{{end}}

{{define "main"}}
{{range .}}
        <div>
            <a href="/items/{{.Id}}">ID: {{.Id}}</a>
            <p>Name: {{.Name}}</p>
            <p>Type: {{.TypeItem}}</p>
            <p>Price: {{.Price}}</p>
            <img src="{{.ImgUrl}}" alt="Description">
            <p>Quantity: {{.Quantity}}</p>
        </div>
{{end}}
{{end}}