{{template "base" .}}

{{define "title"}}Items{{end}}

{{define "main"}}
{{if .Items}}
{{range .Items}}
        <div>
            <a href="/items/{{.Id}}">ID: {{.Id}}</a>
            <p>Name: {{.Name}}</p>
            <p>Type: {{.TypeItem}}</p>
            <p>Price: {{.Price}}</p>
            <img src="{{.ImgUrl}}" alt="Description">
            <p>Quantity: {{.Quantity}}</p>
        </div>
{{end}}
{{else}}
    <p>There's nothing to see here... yet!</p>
{{end}}

{{end}}