{{template "base" .}}

{{define "title"}}Your Orders{{end}}

{{define "main"}}
  <div class="container mt-5">
    <h1>Your Orders</h1>

    {{ with .Order }}
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title">Order Information</h5>
        </div>
        <div class="card-body">

          <p class="card-text">Message: {{ .Msg }}</p>
        </div>
      </div>
    {{ end }}

    {{ with .Items }}
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Ordered Items</h5>
        </div>
        <ul class="list-group list-group-flush">
          {{ range . }}
            <li class="list-group-item">
              <strong>{{ .Name }}</strong>
              <span class="float-right">Price: ${{ .Price }}</span>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>
{{end}}
