* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Arial", sans-serif;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.6;
    background-color: #f5f5f5; /* Изменено цвет фона */
    color: #333;
    overflow-y: scroll;
}

header {
    background: #ff6f61; /* Изменен цвет фона */
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

header h1 a {
    font-size: 24px;
    font-weight: bold;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 24px;
    padding-left: 30px;
    position: relative;
    color: #fff; /* Изменен цвет текста */
    text-decoration: none; /* Добавлено свойство */
}

nav {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff; /* Изменен цвет фона */
    height: 50px;
    color: #555;
}

nav a {
    margin-right: 1.5em;
    display: inline-block;
    color: #555;
    text-decoration: none;
}

nav form {
    display: inline-block;
    margin-left: 1.5em;
}

nav div {
    width: 50%;
    float: left;
}

nav div:last-child {
    text-align: right;
}

a.button, input[type="submit"] {
    background-color: #ff6f61;
    border-radius: 3px;
    color: #fff;
    padding: 14px 20px;
    border: none;
    display: inline-block;
    margin-top: 14px;
    font-weight: 700;
}

a.button:hover, input[type="submit"]:hover {
    background-color: #ff443b;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

form div {
    margin-bottom: 14px;
}

form div:last-child {
    border-top: 1px dashed #e5e5e5;
}

form input[type="radio"] {
    position: relative;
    top: 2px;
    margin-left: 14px;
}

form input[type="text"], form input[type="password"], form input[type="email"] {
    padding: 0.75em 14px;
    width: 100%;
    color: #555;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

form label {
    display: inline-block;
    margin-bottom: 7px;
}

.error {
    color: #C0392B;
    font-weight: bold;
    display: block;
}

.error + textarea, .error + input {
    border-color: #C0392B !important;
    border-width: 2px !important;
}

textarea {
    padding: 14px;
    width: 100%;
    height: 266px;
}

div.flash, div.error {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #333;
    padding: 18px;
    margin-bottom: 36px;
    text-align: center;
}

table {
    background: white;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 9px 14px;
}

th:last-child, td:last-child {
    text-align: right;
    color: #555;
}

tr {
    border-bottom: 1px solid #e5e5e5;
}

tr:nth-child(2n) {
    background-color: #f5f5f5; /* Изменен цвет фона */
}

footer {
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff; /* Изменен цвет фона */
    height: 50px;
    color: #555;
    text-align: center;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}